@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: theme('colors.gray.900');
  --background: theme('colors.gray.50');
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: theme('colors.gray.50');
    --background: theme('colors.gray.900');
  }
}

/* Font variation settings support */
@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
